<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>I am the header that is for navigation</header>
    <section><h1>I am a main page with picocss</h1></section>
    <footer>I am a dummy footer with icons and info...</footer>
  </body>
</html>
