<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <!-- <link href="public/styles.css" rel="stylesheet" type="text/css" />  this will not work-->

    <link href="styles.css" rel="stylesheet" type="text/css" />
    <title>Pokemon inventory app</title>
  </head>
  <body>
    <main class="container">
      <header>
        <nav>
          <ul>
            <li><strong>Pokemon Inventory</strong></li>
          </ul>
          <ul>
            <li><a href="/pokemons/all">Add </a></li>
            <li><a href="/trainers/all">Trainers</a></li>
          </ul>
        </nav>
      </header>
      <div>
        <form>
          <fieldset role="group">
            <select name="category" aria-label="Select a category" required>
              <option selected disabled value="">
                Select your favorite cuisine...
              </option>
              <option>Pokemons</option>
              <option>Trainers</option>
              <option>Pokemon Types</option>
            </select>
            <input type="submit" value="Look up" />
          </fieldset>
        </form>

        <div class="grid">
          <article>
            <header>card title</header>
            <img src="img/pokemons/charmander.png" alt="" />
            <p>
              description Lorem ipsum dolor sit, amet consectetur adipisicing
              elit. Ratione, debitis.
            </p>
          </article>
          <article>
            <header>card title</header>
            <img src="img/pokemons/charmander.png" alt="" />
            <p>
              description Lorem ipsum dolor sit, amet consectetur adipisicing
              elit. Ratione, debitis.
            </p>
          </article>
          <article>
            <header>card title</header>
            <img src="img/pokemons/charmander.png" alt="" />
            <p>
              description Lorem ipsum dolor sit, amet consectetur adipisicing
              elit. Ratione, debitis.
            </p>
          </article>
        </div>
      </div>
      <footer>&copy; This is a Top exercise 2025</footer>
    </main>
  </body>
</html>
