<section>
  <h3>Pokemon Form</h3>
  <form action="/pokemons/add" method="post" enctype="multipart/form-data">
    <fieldset>
      <label>
        Name <input name="name" placeholder="pikachu" required" />
      </label>
      <label>
        Description
        <textarea
          name="description"
          autocomplete="this pokemon has no description"
          required
        >
       this pokemon is cute
        </textarea>
      </label>
      Image
      <label for="pokemon-image">
        <input type="file" accept="image/*" name="file" required />
      </label>
    </fieldset>
    <fieldset class="grid">
      <label>
        Type
        <select
          name="pokemonTypeId"
          aria-label="Select the pokemon type"
          required
        >
          <option selected disabled value="">Select the pokemon type</option>
          <% for (let i = 0; i < types.length; i++) { %>

          <option value="<%=types[i].id %>"><%=types[i].name %></option>
          <%} %>
        </select>
      </label>
      <label>
        Owner
        <select
          name="trainerId"
          aria-label="Select your favorite cuisine..."
          required
        >
          <option selected disabled value="">
            Select the trainer for this pokemon
          </option>
          <% for (let i = 0; i < trainers.length; i++) { %>

          <option value="<%=trainers[i].id %>"><%=trainers[i].name %></option>
          <%} %>
        </select>
      </label>
    </fieldset>
    <button type="submit">Add</button>
  </form>
</section>
