<section>
  <h3>Trainer Form</h3>
  <form action="/trainers/add" method="post" enctype="multipart/form-data">
    <fieldset>
      <label>
        Name
        <input name="trainer-name" placeholder="super cool trainer" required />
      </label>
      <label>
        Description
        <textarea name="description" required>
        I am a super cool trainer
        </textarea>
      </label>
      Image
      <label for="trainer-image">
        <input
          type="file"
          accept="image/*"
          id="trainer-image"
          name="trainer-image"
          required
        />
      </label>
    </fieldset>

    <button type="submit">Add</button>
  </form>
</section>
